<div class="p-4 bg-blue-500 rounded-lg shadow-lg text-white">

  <div class="grid grid-cols-2 gap-4">
    <div class="mb">
      <label for="accountNumber" class="block text-sm font-bold">Account Number:</label>
      <span id="accountNumber" class="font-bold text-base">{{ accountDetails?.account.accountNumber }}</span>
    </div>

  </div>

  <div class="grid grid-cols-2 gap-4">
    <div class="mb">
      <label for="balance" class="block text-sm font-bold">Balance:</label>
      <span id="balance" class="font-bold text-base">{{ accountDetails?.account.balance | currency:'EUR':'symbol'}}</span>
    </div>
    </div>

</div>
