<div class="m-2 flex items-center justify-center coverparentspace">
  <div class="max-w-md w-full">
    <div class="border-none md:border border-gray-300 px-4 py-3 mb-8 bg-white rounded-lg shadow-none md:shadow-md"
         *ngIf="!showRegistrationData">
      <h2 class="my-3 text-center text-3xl font-extrabold text-gray-900">Register</h2>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-2 gap-4">
          <div class="col-span-2">
            <label for="username" class="block text-sm font-bold mb-2">Username:</label>
            <input formControlName="username" type="text" id="username"
                   class="w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:border-indigo-500" />
            <div *ngIf="f.username.invalid && f.username.touched" class="text-red-500 text-sm mt-1">
              Please enter a valid UserName.
            </div>
          </div>
          <div class="col-span-2">
            <label for="firstname" class="block text-sm font-bold mb-2">FirstName:</label>
            <input formControlName="firstname" type="text" id="firstname"
                   class="w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:border-indigo-500" />
            <div *ngIf="f.firstname.invalid && f.firstname.touched" class="text-red-500 text-sm mt-1">
              firstname is required.
            </div>
          </div>
          <div class="col-span-2">
            <label for="lastname" class="block text-sm font-bold mb-2">LastName:</label>
            <input formControlName="lastname" type="tel" id="lastname"
                   class="w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:border-indigo-500" />

            <div *ngIf="f.lastname.invalid && f.lastname.touched" class="text-red-500 text-sm mt-1">
              <div *ngIf="f.lastname.errors?.required">LastName is required.</div>
            </div>
          </div>
          <div class="col-span-2">
            <label for="email" class="block text-sm font-bold mb-2">Email:</label>
            <input formControlName="email" type="email" id="email"
                   class="w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:border-indigo-500" />
            <div *ngIf="f.email.invalid && f.email.touched" class="text-red-500 text-sm mt-1">
              <div *ngIf="f.email.errors?.required">Email is required.</div>
              <div *ngIf="f.email.errors?.email">Please enter a valid email address.</div>
            </div>
          </div>


          <div class="col-span-1">
            <label for="password" class="block text-sm font-bold mb-2">Password:</label>
            <input formControlName="password" type="password" id="password"
                   class="w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:border-indigo-500" />
            <div *ngIf="f.password.invalid && f.password.touched" class="text-red-500 text-sm mt-1">
              <div *ngIf="f.password.errors?.required">Password is required.</div>
              <div *ngIf="f.password.errors?.minlength">Password must be at least 6 characters long.</div>
            </div>
          </div>
          <div class="col-span-1">
            <label for="confirmPassword" class="block text-sm font-bold mb-2">Confirm Password:</label>
            <input formControlName="confirmPassword" type="password" id="confirmPassword"
                   class="w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:border-indigo-500" />
            <div *ngIf="f.confirmPassword.invalid && f.confirmPassword.touched" class="text-red-500 text-sm mt-1">
              <div *ngIf="f.confirmPassword.errors?.required">Confirm Password is required.</div>
              <div *ngIf="f.confirmPassword.errors?.passwordMismatch">Passwords do not match.</div>
            </div>
          </div>

        </div>
        <div class="mt-4 flex items-center justify-center">
          <button type="submit" [disabled]="registerForm.invalid" class="bg-indigo-600 hover:bg-indigo-900 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline
                   disabled:opacity-50 disabled:cursor-not-allowed w-48">Register</button>
        </div>

      </form>
    </div>

    <div class="rounded-lg border border-gray-300 p-8" *ngIf="showRegistrationData">
      <h2 class="text-3xl font-semibold mb-6">Registration Successful!</h2>
      <p>Username: {{ registrationData.username }}</p>
      <p>Email: {{ registrationData.email }}</p>
      <p>Account Number: {{ registrationData.account.accountNumber }}</p>
      <p>Balance: {{ registrationData.account.balance }}</p>
      <div class="mt-4 flex items-center justify-center">
        <a routerLink="/login" type="button"
           class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
           (click)="showRegistrationData = false">Continue to Login</a>
      </div>
    </div>

  </div>
</div>
